@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 85 52 218;
    --primary-light: 241 239 253;
    --red: 214 23 58;
    --green: 122 197 85;
    --green-light: 231 247 219;
    --purple: 118 13 222;
    --purple-light: 241 207 255;
    --orange: 255 165 0;
    --orange-light: 249 238 227;
    --blue: 118 165 234;
    --blue-light: 219 230 247;
    --pink: 232 118 234;
    --pink-light: 247 219 240;
    --black: 23 23 23;
    --white: 255 255 255;
    --gray-1: 250 250 250;
    --gray-2: 238 238 238;
    --gray-3: 217 217 217;
    --gray-4: 159 166 178;
    --gray-5: 120 116 134;
    --gray-6: 75 75 75;
    --gray-7: 51 50 54;
  }

  :root[data-theme='dark'] {
    --primary: 85 52 218;
    --primary-light: 241 239 253;
    --red: 214 23 58;
    --green: 122 197 85;
    --green-light: 241 207 255;
    --purple: 118 13 222;
    --purple-light: 211 166 255;
    --orange: 255 165 0;
    --orange-light: 249 238 227;
    --blue: 118 165 234;
    --blue-light: 219 230 247;
    --pink: 232 118 234;
    --pink-light: 247 219 240;
    --black: 255 255 255;
    --white: 23 23 23;
    --gray-1: 51 50 54;
    --gray-2: 75 75 75;
    --gray-3: 120 116 134;
    --gray-4: 159 166 178;
    --gray-5: 217 217 217;
    --gray-6: 238 238 238;
    --gray-7: 250 250 250;
  }

  body {
    @apply text-black;
  }
}

@layer components {
  .input {
    @apply border-solid-gray body1-normal w-full rounded-md p-16 text-[#000] outline-none placeholder:text-gray-4;
  }

  .button {
    @apply flex-center rounded-lg bg-white;
  }

  .box {
    @apply rounded-lg bg-white p-20 pt-28 tablet:p-28 tablet:pt-32;
  }

  .card {
    @apply border-solid-gray rounded-md bg-white p-12 tablet:p-20;
  }

  .modal {
    @apply absolute-center z-floating max-h-[32.5rem] w-[20rem] rounded-lg bg-white p-20 pt-28 tablet:max-h-[56rem] tablet:w-[32.5rem] tablet:p-28 tablet:pt-32;
  }
}

@layer utilities {
  .heading1-light {
    @apply text-20 font-light tablet:text-24;
  }

  .heading1-normal {
    @apply text-20 font-normal tablet:text-24;
  }

  .heading1-bold {
    @apply text-20 font-bold tablet:text-24;
  }

  .heading2-light {
    @apply text-18 font-light tablet:text-20;
  }

  .heading2-normal {
    @apply text-18 font-normal tablet:text-20;
  }

  .heading2-bold {
    @apply text-18 font-bold tablet:text-20;
  }

  .subheading-light {
    @apply text-16 font-light tablet:text-18;
  }

  .subheading-normal {
    @apply text-16 font-normal tablet:text-18;
  }

  .subheading-bold {
    @apply text-16 font-bold tablet:text-18;
  }

  .body1-light {
    @apply text-14 font-light tablet:text-16;
  }

  .body1-normal {
    @apply text-14 font-normal tablet:text-16;
  }

  .body1-bold {
    @apply text-14 font-bold tablet:text-16;
  }

  .body2-light {
    @apply text-12 font-light tablet:text-14;
  }

  .body2-normal {
    @apply text-12 font-normal tablet:text-14;
  }

  .body2-bold {
    @apply text-12 font-bold tablet:text-14;
  }

  .caption-light {
    @apply text-10 font-light tablet:text-12;
  }

  .caption-normal {
    @apply text-10 font-normal tablet:text-12;
  }

  .caption-bold {
    @apply text-10 font-bold tablet:text-12;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .border-solid-primary {
    @apply border border-solid border-primary;
  }

  .border-solid-gray {
    @apply border border-solid border-gray-3;
  }

  .border-solid-white {
    @apply border border-solid border-white;
  }
}
